.swiper-container{
    width: 100%;
    background-origin: padding-box;
    border: 0.15rem solid beige;
    box-shadow:   0 0em 2em rgba(8, 138, 177, 0.541) !important; 
}

.swiper-button-prev, .swiper-button-next {
    color:rgb(191, 250, 245);
}

.movie-description{
    background-color: rgba(0, 0, 0, 0.778);
    bottom: 0;
    padding: 10px 30px;
    position: absolute;
    width: 100%;
}

